@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <h2>
        <a asp-controller="Genre" asp-action="Index">Genres</a>
    </h2>
    <h2>
        <a asp-controller="Customer" asp-action="Index">Customers</a>
    </h2>
    <h2>
        <a asp-controller="Movie" asp-action="List">Movies</a>
    </h2>
    <h2>
        <a asp-controller="Movie" asp-action="InputGenreId" >Movies by genre Id</a>
    </h2>
    <h2>
        <a asp-controller="Movie" asp-action="ByGenre">Movies grouped by genre</a>
    </h2>
</div>
